<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/test.css">
        <title>
            CV - Rogier
        </title>
    </head>
    <body>
        <h3>
            Study
        </h3>
        <p>
            At my study we learn Python.<br>
            This is a sall example:<br>
            <form action="/hello" method="post">
                Full Name: <input type="text" name="full_name">  <br/>
                Email: <input type="text" name="email" /> <br/>
                Tel Number: <input type="text" name="usphone" /> <br/>
                Address 1: <input type="text" name="add_one" /> <br/>
                Address 2: <input type="text" name="add_two" /> <br/>
                Zip: <input type="text" name="zip" /> <br/>
                Card Number: <input type="text" name="card_number" /> <br/>
                CVV Number: <input type="text" name="cvv_number" /> <br/>
                Exp Date: <input type="text" name="exp_date" /> <br/>
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>